@import '../../../styles/config/variables.scss';


.header__userMenu{
    position: relative;
        img{
            width: 35px;
            height: 35px;
            border-radius:50%;
            cursor: pointer;
            margin-right: 10px;
            box-shadow: $box-shadow;
            object-fit: cover;
            @include breakpoint(md){
                margin-right: 2px;
                width:40px;
                height:40px;
            }
        }
}

.header__userMenu_menu{
    display: none;
    position: absolute;
    width: 120px;
    top:40px;
    right:-10px;
    padding:20px, 20px;
    background: #fff;
    box-shadow: $box-shadow;
    box-sizing: 0, 5px, 25px, rgba(0,0,0,0.1);
    border-radius: 10px;

    & ul {
        display: flex;
        align-items: center;
        flex-direction: column;
            & li{
                line-height: 40px;
            }
            svg{
                margin-right: 5px;
            }
    }
    & a{
        padding:5px;
        text-decoration: none;
        color:black;
            &:hover{
                color: $first-color;
            }
    }

}

