@import '../../styles/config/variables.scss';

.main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-image: url('https://res.cloudinary.com/dl7xlw7cl/image/upload/v1638784698/hero_img_auj8wy.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    box-shadow: $box-shadow;

    @include breakpoint(sm-only){
        background-position: right center;
    }

    &__container{
        width: 50vw;
        display: flex;
        flex-direction: column;
        gap:3vh;

            @include breakpoint(md) { 
                width: 30vw;
                gap:4vh;    
            }
            svg{
                margin-top: 1px;
            }
            h2{
                color:white;
                font-size: $medium-font-size;
                    @include breakpoint(md) {
                        font-size: $medium-font-size;
                    }
                    @include breakpoint(sm-only) {
                        width: 40vw;
                        font-size: 2rem;
                        white-space: pre-wrap;
                    }
            }   
    }
}

