@import '../../styles/config/variables.scss';

/*container*/


  .footer_container{
  @media screen and (min-width: 1261px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 92%;
    padding-top: 80px;
  }
  @media screen and (min-width: 970px) and (max-width:1260px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 60px;
    flex-wrap: wrap;

  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 90%;
    padding-top: 40px;
    flex-wrap: wrap;

  }
  @media screen and (min-width: 320px) and (max-width:599px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 85%;
    padding-top: 35px;
  }
  }

/*block follow us*/
.footer_follow_us{
  @media screen and (min-width:1201px){
  }
  @media screen and (min-width: 970px) and (max-width:1200px) {
    max-width: 25%;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    max-width: 45%;
  }
}
.footer_block_logo_title{
  display: flex;
  @media screen and (min-width: 600px) and (max-width:969px) {
    margin-top: 25px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    display: flex;
    justify-content: center;
    }
}
.footer_block_logo{
  width: 55px;
  height: 55px;
  @media screen and (min-width: 970px) and (max-width:1260px){
    width: 35px;
    height: 35px;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    width: 30px;
    height: 30px;
    }
}
.footer_block_text{
  font-family: $body-font;
  color: $title-color;
  padding-left: 25px;
  font-size: 45px;
  font-weight: 700;
  @media screen and (min-width: 970px) and (max-width:1260px){
    font-weight: 600;
    font-size: 35px;
    padding-left: 15px;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    font-size: 22px;
    padding-left: 10px;
    font-weight: 500;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
  padding-left: 15px;
  font-size: 25px;
  font-weight: 500;
  }
}
.footer_block_description{
  font-family: $body-font;
  padding-top: 40px;
  max-width: 427px;
  font-size: 16px;
  line-height: 24px;
  color: $text-color-light;
  @media screen and (min-width: 970px) and (max-width:1260px){
    padding-top: 15px;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    padding-top: 5px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    padding-top: 10px;
    font-size: 14px;
    text-align: center;
  }
}
.footer_block_follow_us{
  margin-top: 50px;
  @media screen and (min-width: 970px) and (max-width:1260px){
    margin-top: 20px;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    margin-top: 15px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    align-items: center;
    
  }
}
.footer_block_followUs_title{
  font-family: $body-font;
  font-size: 18px;
  line-height: 24px;
  color: $title-color;
}
.footer_block_icons{
  display: flex;
  margin-top: 25px;
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-top: 8px;
    
  }
}
.link_facebook{
  border: 1px solid #F0E4F4;
  padding: 11px 20px;
  border-radius: 100%;
  @media screen and (min-width: 970px) and (max-width:1200px){
    padding: 4px 15px;
    
  }
}
.link_youtube{
  background:#8D28AD;
  border: 1px solid #F0E4F4;
  border-radius: 50px;
  padding: 11px 12px;
  margin-left: 14px;
  @media screen and (min-width: 970px) and (max-width:1200px){
    padding: 5px 7px;
    margin-left: 5px;

  }
  @media screen and (min-width: 600px) and (max-width:969px){
    margin-left: 2px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-left: 7px;
  }
}
.link_twitter{
  margin-left: 14px;
  border: 1px solid #F0E4F4;
  border-radius: 50px;
  padding: 11px 15px;
  @media screen and (min-width: 970px) and (max-width:1200px){
    margin-left: 5px;
    padding: 6px 11px;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    margin-left: 2px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-left: 7px;
  }
}
.link_linkedIn{
  margin-left: 14px;
  border: 1px solid #F0E4F4;
  border-radius: 50px;
  padding: 11px 15px;
  @media screen and (min-width: 970px) and (max-width:1200px){
    margin-left: 5px;
    padding: 5px 9px;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    margin-left: 2px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-left: 7px;
  }
}
.link_instagram{
  margin-left: 14px;
  border: 1px solid #F0E4F4;
  border-radius: 50px;
  padding: 12px 16px;
  @media screen and (min-width: 970px) and (max-width:1200px){
    padding: 5px 10px;
    margin-left: 5px;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    margin-left: 2px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-lef: 7px;
  }
}
.icon_img{
  position: relative;
  left: 0;
  top: 3px;
}
/*footer quick links*/
.footer_quick_links{
  @media screen and (min-width: 1201px) {
  display: flex;
  flex-direction: column;
  }
  @media screen and (min-width: 970px) and (max-width:1200px) {
    max-width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    max-width: 20%;
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    display: flex;
    flex-direction: column;
    max-width: 45%;
  }
}
.footer_quick_links_title{
  font-family: $body-font;
  color: $title-color;
  margin-bottom: 7px;
  font-weight: 600;
  @media screen and (min-width: 970px) and (max-width:1260px){
    margin-bottom: 4px;
    font-family: $body-font;
    color: $title-color;
    font-weight: 500;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    margin-bottom: 4px;
    margin-top: 25px;
    font-family: $body-font;
    color: $title-color;
    font-weight: 500;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-top: 15px;
    
  }
}
.footer_quick_links_link{
  font-family: $body-font;
  color: $text-color-light;
  margin-top: 20px;
  @media screen and (min-width: 970px) and (max-width:1260px){
    margin-top: 15px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-top: 5px;

  }
}

/*footer customer area*/
.footer_customer_area{
  @media screen and (min-width: 1201px) {
  display: flex;
  flex-direction: column;
  }
  @media screen and (min-width: 970px) and (max-width:1200px) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 25%;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    max-width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    display: flex;
    flex-direction: column;
    max-width: 45%;
  }
}
.footer_customer_area_tittle{
  font-family: $body-font;
  color: $title-color;
  margin-bottom: 7px;
  font-weight: 600;
  @media screen and (min-width: 968px) and (max-width:1260px){
    margin-bottom: 4px;
    font-weight: 500;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    font-weight: 500;
    margin-bottom: 2px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-top: 15px;
    
  }
}
.footer_quick_links_link{
  font-family: $body-font;
  color: $text-color-light;
  margin-top: 20px;
  @media screen and (min-width: 968px) and (max-width:1260px){
    margin-top: 15px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin-top: 7px;
  }
}

/*footer books subscribe*/
.footer_subscribe{
  margin-top: 70px;
  width: 35%;
  // margin-right: 2%;
  @media screen and (min-width: 970px) and (max-width:1260px) {
    margin-top: 70px;
    max-width: 540px;
    margin-right: 2%;
  }
  @media screen and (min-width: 600px) and (max-width:969px) {
    margin-top: 55px;
    width: 280px;
    margin-left: 5px;
    margin-right: 2%;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    margin: 0px 0px 6% 10%;
    width: 80%;
  }
}
.footer_input_subscribe{
  font-family: $body-font;
  width: 65%;
  min-height: 67px;
  border-radius: 8px;
  border: none;
  background: #F3F3F329;
  color: #E2E2E2;
  padding-left: 10px;
  @media screen and (min-width: 970px) and (max-width:1260px){
    max-width: 70%;
    min-height: 50px;
    margin: 0;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    max-width: 65%;
    min-height: 40px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    min-height: 40px;
    margin: 0;
  }
}
.footer_button_sumbmit {
  margin-left: 15px;
  color: #8D28AD;
  padding: 20px 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #FFFFFF;;
  border-radius: 8px;
  @media screen and (min-width: 970px) and (max-width:1260px){
    font-size: 13px;
    min-height: 29px;
    padding: 12px 10px;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    padding: 9px 9px;
    font-size: 12px;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    max-width: 25%;
    padding: 10px 10px;
    font-size: 10px;
    margin-right: 2%;
  }
}


.footer_subscribe_block{
  display: flex;
  justify-content: space-between;
  background: $first-color;
  min-height: 250px;
  width: 100%;
  @media screen and (min-width: 970px) and (max-width:1260px){
    min-height: 240px;
    width: 100%;
  }
  @media screen and (min-width: 600px) and (max-width:969px){
    min-height: 170px;
    width: 100%;
  }
  @media screen and (min-width: 320px) and (max-width:599px){
    min-height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.footer_subscribe_title{
    margin-left: 2%;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    color: $text-color;
    margin-top: 70px;
    max-width: 50%;
  
  @media screen and (min-width: 970px) and (max-width:1260px){
    font-weight: 550;
    font-size: 35px;
    line-height: 50px;
    color: $text-color;
    margin-top: 70px;
    max-width: 480px;

  }
  @media screen and (min-width: 600px) and (max-width:969px){
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
    color: #E5E5E5;
    margin-top: 55px;
    max-width: 48%;

  }
  @media screen and (min-width: 320px) and (max-width:599px){
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #E5E5E5;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 90%;
  }
}
