@import '../../styles/config/variables.scss';


.block_cart{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 70%;
    min-height: 80px;
    margin: 0 auto;
    background: #5C067C;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    @media screen and (min-width: 901px) and (max-width: 1050px) {
        min-height: 50px;
    }
    @media screen and (min-width: 320px) and (max-width: 900px) {
        max-width: 90%;
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        min-height: 40px;
    }
}
.block_cart_left{
    display: flex;
    margin-left: 28px;
}
.block_cart_item{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-left: 25%;
}

.block_cart_right{
    display: flex;
    margin-right: 150px;
}

//Product

.block_product{
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    align-items: center;
    max-width: 70%;
    min-height: 180px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #EEDFF3;
    border-radius: 12px;
    margin-bottom: 30px;
    @media screen and (min-width: 901px) and (max-width: 1050px) {
        min-height: 110px;
        margin-top: 30px;
    }
    @media screen and (min-width: 630px) and (max-width: 900px) {
        max-width: 90%;
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        margin-top: 15px;
        min-height: 110px;

    }
    @media screen and (min-width: 320px) and (max-width: 629px) {
        max-width: 90%;
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        margin-top: 15px;
        min-height: 80px;
    }
}
.product_img_and_text{
    // margin-left: 28px;
    display: flex;
    align-items: center;
}
.product_img{
    width: 105px;
    height: 150px;
    background: #C4C4C4;
    border-radius: 20px;
    margin-left: 10%;
    @media screen and (min-width: 630px) and (max-width: 1050px) {
        margin-left: 5%;     
        width: 80px;
        height: 100px;   
    }
    @media screen and (min-width: 320px) and (max-width: 629px) {
        width: 80px;
        height: 100px;
        display: none;
    }
}
.product_text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    @media screen and (min-width: 320px) and (max-width: 629px) {
    margin-left: 10px;
    }

}
.product_article{
    font-size: 18px;
    line-height: 27px;
    color: #4D4D4D;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        font-size: 12px;
        
    }
    @media screen and (min-width: 320px) and (max-width: 629px) {
        // display: none;
    }
}
.product_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;   
    margin-top: 10px;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        font-size: 14px;
        
    }
    @media screen and (min-width: 320px) and (max-width: 764px) {
        font-size: 15px;
        font-weight: 400;
        margin-top: 0;
    }
}

.product_description{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 12px;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        font-size: 10px;
        
    }
    @media screen and (min-width: 320px) and (max-width: 629px) {
        // display: none;
    }
}

.cart_button_prod{
    justify-content: center;
    display: flex;
    @media screen and (min-width: 765px) and (max-width: 950px) {
        margin-left: 20%;
        
    }
    @media screen and (min-width: 600px) and (max-width: 764px) {
        margin-left: 20%;
        
    }
    
}
.cart_button_minus{
    padding: 15px 15px;
    border-radius: 8px;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        padding: 5px 10px;        
    }
    @media screen and (min-width: 320px) and (max-width: 764px) {
        padding: 5px 10px;   
    }
}
.cart_button_plus{
    padding: 15px 15px;
    border-radius: 8px;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        padding: 5px 10px;        
    }
    @media screen and (min-width: 320px) and (max-width: 764px) {
        padding: 5px 10px;   
    }

}
// .product_culc_and_price{
//     display: flex;
//     align-items: center;
//     margin-right: 5%;
// }
// .product_culc{
//     width: 183px;
//     height: 65px;
//     background: #EBEBEB;
//     border-radius: 10px;
// }
.product_price{
    display: flex;
    margin-left: 25%;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        margin-left: 15%;    }
    @media screen and (min-width: 320px) and (max-width: 764px) {
        
    }
}
.product_price p{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.product_total_price{
    display: flex;
    margin-left: 25%;
    position: relative;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        margin-left: 25%;        
    }
    @media screen and (min-width: 320px) and (max-width: 764px) {
        
    }
}  
.product_total_price p {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
} 
.product_remove_icon{
    position: absolute;
    left: -30px;
    width: 32px;
    height: 30px;
    color: #A4A4A4;
    margin-left: 120px;
    @media screen and (min-width: 765px) and (max-width: 1050px) {
        left: -50px;   
        width: 25px;
        height: 25px; 
    }
    @media screen and (min-width: 630px) and (max-width: 764px) {
        left: -60px; 
        width: 15px;
        height: 27px;
    }
    @media screen and (min-width: 320px) and (max-width: 629px) {
        left: -80px; 
        width: 12px;
        height: 25px;
    }
}

//Cart Summary 

.block_summary{
    display: flex;
    align-items: center;
    max-width: 70%;
    min-height: 570px;
    margin: 0 auto;
    background: #F0E4F4;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 120px;
}

.summary{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.block_summary_left{
    max-width: 45%;
}
.block_summary_right{
    width: 45%;
}

.block_summary_title{
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
}
.block_summary_description{
    margin-top: 49px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
}

.block_summary_subtotal{
    display: flex;
    justify-content: space-between;
}
.block_summary_tax{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}
.block_summary_total{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.block_summary_subtotal p{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #755A7D;
}
.block_summary_tax p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #755A7D;
}
.block_summary_total{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #755A7D;
}
.block_summary_subtotal_price{
    display: flex;
    p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    }
}

.block_summary_tax_price{
    display: flex;
    p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    }
}
.block_summary_total_price{
    display: flex;
    p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    }
}
hr{
    width: 100%;
    height: 2px;
    color: #D5A4E4;
    margin-top: 33px;
}

.block_summary_button_position{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block_summary_button{
    padding: 19px 180px;
    background: #8D28AD;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FBFBFB;
    border-radius: 12px;
}
.block_summary_button_to_other_products{
    text-align: center;
    margin-top: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8D28AD;
}

//Counter

.cart_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    // @include breakpoint(sm-only) {
    //     margin-bottom: 30px;
    // }

    & button {
        width: 70px;
        background-color: $first-color;
        padding: 10px;
        margin-right: 40px;
        border-radius: 9%;

        &:hover {
            background-color: $first-color-alt;
        }

        // @include breakpoint(md-only) {
        //     width: 50px;
        //     margin-right: 20px;
        // }

        & i {
            color: $body-color;
            font-size: 20px;

            // @include breakpoint(md-only) {
            //     font-size: 15px;
            // }
        }
    }
}

.cart_button__counter {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;

    // @include breakpoint(md-only) {
    //     margin-right: 20px;
    // }

    & button {
        background-color: $first-color-lighten;
        margin: 0;

        &:hover {
            background-color: $first-color;
        }
    }

    & span {
        margin: auto 15px;
        color: black;
    }
}