@import '../../../styles/config/variables.scss';


.header__cart{

        display: flex;
        text-decoration: none;
        position: relative;
        margin-top: .1rem;
        margin-right: .5rem;
        transition: all 0.1s ease;

            &:hover{
                transform: scale(1.2);
            }
    }

    @include breakpoint(md) {
        .header__cart{
            margin-right: 1rem;
            margin-top: 0.1rem;
           }
    }