@import '../../../styles/config/variables.scss';

.review__buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
    width: 90%;

    & button:first-child {
        margin-right: 40px;
    }

    & button {
        background-color: $first-color;
    }
    
    @include breakpoint(md-only) {
        width: 100%;
      }
}