@import '../../../styles/config/variables.scss';

.review {
    border: 1px solid rgb(206, 206, 206);
    margin-bottom: 15px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $first-color-light;
    }

    &__customer {
        padding: 5px 10px;
        margin: 0;
    }

    & button {
        box-shadow: unset;
        padding: 7px;
        background-color: transparent;
        
        &:hover svg {
            fill: rgb(255, 255, 255);
        }
    }

    &__text {
        padding: 5px 10px;
        word-wrap: break-word;
    }

    &__dis {
        border: none;
    }
}