@import '../../../styles/config/variables.scss';

.review__buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;

    & button:first-child {
        margin-right: 40px;
    }

    & button {
        background-color: $first-color;
    }
}

.review {
    border: 1px solid rgb(206, 206, 206);
    margin-bottom: 15px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $first-color-light;
    }

    &__customer {
        padding: 0 10px;
    }

    & button {
        box-shadow: unset;
        padding: 7px;
        background-color: transparent;
        
        &:hover svg {
            color: white;
        }
    }

    &__text {
        padding: 5px 10px;
    }

    &__dis {
        border: none;
    }
}