@import "../../styles/config/variables.scss";

.header {
  height: $header-height;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: $box-shadow;
  backdrop-filter: blur(5px);
  z-index: 100;
  transition: all 0.2s ease;
  margin-bottom: 20px;

  &__logo {
    display: flex;
    flex-grow: 4;
    color: $title-color;
    font-size: $normal-font-size;
  }

  &__cart {
    display: flex;
    text-decoration: none;
    position: relative;
    margin-top: 0.2rem;
  }

  @include breakpoint(md) {
    padding: 0 3rem;
  }

  &__cart {
    margin-right: 1rem;
    margin-top: 0.1rem;
  }

  &__menu {
    @include breakpoint(md) {
      display: none;
    }
    &__toggle {
      color: white;
      position: relative;
      z-index: 10;
      cursor: pointer;
      svg {
        font-size: 2rem;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 0px;
      padding: 3rem;
      width: 70vw;
      max-width: 400px;
      height: 100vh;
      outline: 0;
      background: black;
      z-index: 9;
      transform: translateX(100vw);
      opacity: 0;
      transition: all 0.3s ease;
    }
    .show {
      transform: translateX(0vw);
      opacity: 1;
    }
  }
}
