@import "../../../styles/config/variables.scss";
.pagination_buttons {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  &__container {
    display: flex;
    justify-content: space-evenly;
  }
  &__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(141, 40, 173, 0.15);
    border-radius: 5px;
    font-size: $small-font-size;
    color: $first-color;
  }
  &__item a:hover {
    background-color: $first-color;
    cursor: pointer;
    color: $body-color;
  }
}
